.DS_Store
*.pyc
*.jsonc
*.so
*.log
*.swp
obj/
lib/
test_cases/*/output/*
doc/_build/*
build/
dist/
jpod.egg-info/
.eggs
.idea
./jpod/__init__.py
/.cache
/jpod/input_output/ascii.mod
/jpod/input_output/io_tools.mod
